.no-js liquid-slider {
	overflow: scroll;
}
.liquid-slider-wrapper .liquid-slider-preloader {
	background: url('images/loading.gif') transparent no-repeat center 75px;
	opacity: .90;
/*DNE*/
	width: 100%;
	height: 200%;
	position: absolute;
	top: 0;
	left: 0;
}
.liquid-slider-wrapper {
	margin: 0;
/*DNE*/
	clear: both;
	overflow: auto;
	position: relative;
}
.liquid-slider-wrapper .liquid-slider {
	background: transparent;
	margin: 0 40px 0 40px;
/*DNE*/
	float: left;
	overflow: hidden;
	position: relative;
}
.liquid-slider-wrapper .panel-container {
/*DNE*/
	position: relative;
}
.liquid-slider-wrapper .liquid-slider .panel-container .fadeClass {
/*DNE*/
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.liquid-slider-wrapper .liquid-slider .panel {
	width: 1440px;
/*DNE*/
	display: block;
	float: left;
}
.liquid-slider-wrapper .liquid-slider .panel span {
	display: none;
}
.liquid-slider-wrapper .liquid-slider .panel p		{}
.liquid-slider-wrapper .liquid-slider .panel img	{}
.liquid-slider-wrapper .liquid-slider .panel video	{}
.liquid-slider-wrapper .liquid-slider .panel-wrapper {
/*DNE*/
	position: relative;
}
.currentCrossLink {
	font-weight: bold;
}
.liquid-slider-wrapper .liquid-nav {
	margin-left: 4px;
/*DNE*/
	overflow: hidden;
	clear: both;
	z-index: 1;
}
.liquid-slider-wrapper .liquid-nav ul {
	margin: 0;
	padding: 0;
	height: 14px;
/*DN*/
	clear: both;
	display: block;
	margin: auto;
	overflow: hidden;
}
.liquid-slider-wrapper .liquid-nav ul li {
	margin: 0;
	padding: 0;
/*DNE*/
	display: inline;
}
.liquid-slider-wrapper .liquid-nav ul li a {
	width: 10px;
	height: 14px;
	background: url('images/dots.png') no-repeat scroll 0 0;
	margin-right: 6px;
/*DNE*/
	display: block;
	float: left;
	text-decoration: none;
}
.liquid-slider-wrapper .liquid-nav a	{}
.liquid-slider-wrapper .liquid-nav a:hover,
.liquid-slider-wrapper .liquid-nav .current		{ background-position:0 -14px; }
.liquid-slider-wrapper .liquid-slider-select-box	{
	width: 100%;
	height: 35px;
	overflow: hidden;
	background: url('images/menu.png') no-repeat right #ddd;
}
.liquid-slider-wrapper .liquid-slider-select-box select {
	width: 150%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	padding: 5px;
	font-size: 110%;
	border: 1px solid #bbb;
	height: 35px;
	cursor: pointer;
}
.liquid-slider-wrapper .liquid-nav-left,
.liquid-slider-wrapper .liquid-nav-right {
/*DNE*/
	float: left;
}
.liquid-slider-wrapper .liquid-nav-left a,
.liquid-slider-wrapper .liquid-nav-right a {
/*DNE*/
	display: block;
	text-align: center;
	text-decoration: none;
}
.liquid-slider-wrapper .liquid-nav-left-arrow	{
	cursor: pointer;
/*DNE*/
	float: left;
}
.liquid-slider-wrapper .liquid-nav-right-arrow {
	cursor: pointer;
/*DNE*/
	float: right;
}
.liquid-slider-wrapper .liquid-nav-left-arrow a,
.liquid-slider-wrapper .liquid-nav-right-arrow a {
/*DNE*/
	display: block;
}
.liquid-slider-wrapper .liquid-nav-left,
.liquid-slider-wrapper .liquid-nav-left-arrow {
/*DNE*/
	clear: both;
}
.liquid-slider-wrapper .liquid-nav-right-arrow {
	width: 23px;
	height: 35px;
	background: url('images/arrows.png') no-repeat bottom right;
	margin-top: 10px;
	margin-right: 10px;
/*DNE*/
	position: relative;
}
.liquid-slider-wrapper .liquid-nav-left-arrow {
	width: 23px;
	height: 35px;
	background: url('images/arrows.png') no-repeat top left;
	margin-top: 10px;
	margin-left: 10px;
/*DNE*/
	position:relative;
}
.liquid-slider-wrapper .liquid-nav-left-arrow:hover {
	background: url('images/arrows.png') no-repeat top left;
}
.liquid-slider-wrapper .liquid-nav-left-arrow:active		{}
.liquid-slider-wrapper .liquid-nav-right-arrow:hover		{
	background: url('images/arrows.png') no-repeat bottom right;
}
.liquid-slider-wrapper .liquid-nav-right-arrow:active	{}
.arrows .liquid-slider {
	margin: 0 10px;
}
.liquid-responsive .liquid-slider {
/*DNE*/
	width: 100%;
	margin: 0;
}
.liquid-responsive .liquid-slider .panel .panel-wrapper {
/*	padding:8px 8px;*/
}
.liquid-responsive .liquid-nav-left {
/*DNE*/
	position: absolute;
	left: 0;
	z-index: 1;
}
.liquid-responsive .liquid-nav-left a {
	background: #9A9A9A;
	width: 80px;
}
.liquid-responsive .liquid-nav-left a:hover {
	background: #747474;
}
.liquid-responsive .liquid-nav-right	 {
/*DNE*/
	position: absolute;
	right: 0;
	z-index: 1;
}
.liquid-responsive .liquid-nav-right a {
	background: #9A9A9A;
	width: 80px;
}
.liquid-responsive .liquid-nav-right a:hover {
	background: #747474;
}
.liquid-responsive .liquid-nav-left-arrow {
/*DNE*/
	position: absolute;
	left: 0;
	z-index: 1;
}
.liquid-responsive .liquid-nav-right-arrow {
/*DNE*/
	position: absolute;
	right: 0;
	z-index: 1;
}
@media only screen and (min-width: 481px) {
	.liquid-slider-wrapper .liquid-slider .panel img {}
}
/******************************************************************
* Tablet & Smaller Laptops
* This will include tablets and some netbooks.
******************************************************************/
@media only screen and (min-width: 768px) {
	.liquid-slider-wrapper .liquid-slider .panel img {}
}
/******************************************************************
* DESKTOP 
* This is the average viewing window. So Desktops, Laptops, and 
* in general anyone not viewing on a mobile device. Here's where
* you can add resource intensive styles.
******************************************************************/
@media only screen and (min-width: 1030px) {}
/******************************************************************
* LARGE VIEWING SIZE 
* This is for the larger monitors and possibly full screen viewers.
******************************************************************/
@media only screen and (min-width: 1240px) {}
/******************************************************************
* RETINA (2x RESOLUTION DEVICES)
* This applies to the retina iPhone (4s) and iPad (2,3) along with 
* other displays with a 2x resolution. You can also create a media
* query for retina AND a certain size if you want. Go Nuts.
******************************************************************/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {}
